.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    .logo {

        img {
            width: 60px;
        }
        
        &:hover {
            cursor: pointer;
        }
    }

    nav {

        ul {
            display: flex;
            list-style: none;

            li {
                padding: 0 15px;
                cursor: pointer;
                font-size: 14px;

                a {
                    color: black;
                    text-decoration: none;
                    border-bottom: 3px solid white;
                    padding-bottom: 37px;

                    &:hover {
                        color:rgb(2, 130, 249);
                        border-bottom: 3px solid rgb(2, 130, 249);
                    }
                }
            }
        }
    }

}