.sfondo-comics {
    background-color: white;

    .jumbotron {
        padding: 0;
        height: 340px;
        overflow: hidden;
        margin-bottom: -10px;

        img {
            width: 100%;
        }
    }

    .line-blue {
        height: 70px;
        background-color: rgb(4, 121, 230);
        img{
            margin-left: 300px;
            margin-top: -240px;
        }
    }
}

.box-comics {

    margin-top: 40px;

    .price-bar {
        background-color: rgb(85, 186, 89);
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        width: 600px;
        padding: 10px;

        .price {
            display: flex;
            align-items: center;
        }
    }

    p {
        width: 600px;
    }

    .text {
        margin: 50px 0;

        .art-by, .written-by {
            display: flex;
            font-size: 10px;
        }

        .artist-writer {
            color: rgb(4, 121, 230);
            padding-right: 10px;
        }

        .art-by-title {
            padding-right: 15px;
        }
    }
}